## Exercícios da Semana 1

5 - Demonstre como realizar no Python as seguintes operações: soma, subtração, multiplicação, divisão, exponenciação e raiz quadrada.

In [1]:
#soma
5 + 2

7

In [2]:
#subtração
5 - 2

3

In [3]:
#multiplicação
5 * 2

10

In [5]:
#divisão
5 / 2

2.5

In [6]:
#exponenciação
5 ** 2

25

In [16]:
#raiz quadrada
81 ** 0.5

9.0

 Qual operador utilizamos para obter o resto de uma divisão no Python?

In [10]:
# obtemos o resto da divisão com o operador %
5 % 2

1

Como verificar qual o tipo de algum objeto no Python?

In [14]:
# geralmente usamos a função type para obter o tipo daquele objeto
type(1.0)

float

Qual a diferença entre o objeto x = 2, y = 2.0 e z = '2.0'?

In [17]:
# para encontrar o tipo de cada um basta criar um variavel para cada um e utilizar a função .type
x = 2
y = 2.0
z = '2.0'

In [18]:
type(x)
#trata-se de um número inteiro que tem como tipo int

int

In [19]:
type(y)
#trata-se de um número que aceita casas decimais e tem como tipo float

float

In [20]:
type(z)
#trata-se de uma linha de texto (string) e tem como tipo str

str

O que acontece se escrevermos 2++2 ao invés de 2+2? E se fizermos 2 - - 2? E 2==2 ou 2 2? Verifique o output de cada situação.

In [21]:
2 + 2

4

In [30]:
2 ++ 2
# seguimos a logica matematica de que positivo com positivo o resultado é positivo então a conta 
# é efetuada normalmente

4

In [40]:
2 -- 2
# seguimos a mesma logica só que agora é negativo com negativo que torna o resultado positivo
# então a conta é efetuada normalmente

4

In [28]:
2 == 2
# o duplo igual é um operador que valida se um objeto é identico ao outro retornando um  valor boolean
# como saída

True

In [29]:
2 2 
# a sintaxe para 2 2 é invalida visto que não estabelece ligação nenhuma entre os valores

SyntaxError: invalid syntax (<ipython-input-29-ef5eeb058d88>, line 1)

É possível escrever 02 ao invés de apenas 2 no Python?

In [41]:
02
# o erro é explicitado na saída visto que não pode haver zeros a frente de um número inteiro para o python

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-41-0908cbeb2fbd>, line 1)

Crie uma variável chamada bônus (sem acento mesmo) que possui valor 50000. Digamos que esse é o registro do bônus dos trabalhadores da sua firma. A inflação no ano foi de 11%. Depois de criar a variável bônus em uma célula, altere seu valor na célula seguinte para que acompanhe a inflação. I.e., ajuste o valor da variável para que ele seja 11% acima de 50000 (1,11 x 50000).

In [53]:
bonus = 50000
inflacao = 1.11

In [55]:
bonus_inflacionado = bonus * inflacao
bonus = bonus_inflacionado

In [56]:
bonus

55500.00000000001